@page "/counter"
@using Org.BouncyCastle.Crypto.Operators
@using Org.BouncyCastle.Crypto.Prng
@using Org.BouncyCastle.OpenSsl
@using Org.BouncyCastle.Utilities
@using System.Numerics

<div class="container-fluid justify-content-between">
    <div class="container">
        <div class="row">
            <h1>Create Key</h1>
        </div>
        @if (!string.IsNullOrEmpty(@publicKey))
        {
            <div class="row">
                <h2>Public Key:</h2>
                <p class="text-break">@publicKey</p>
            </div>
        }
        @if (!string.IsNullOrEmpty(privateKey))
        {
            <div class="row">
                <h2>Private Key: </h2>
                <p class="text-break">@privateKey</p>
            </div>
        }
        <div class="row mt-3">
            <button class="btn btn-primary" @onclick="GenerateKeys">Generate Keys</button>
        </div>

        <div class="row mt-3">
            <div class="col justify-content-between">
                <input type="text" @bind="subjectName" class="form-control" placeholder="Subject Name" />
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" @onclick="GenerateCertificate">Generate Certi</button>
            </div>
        </div>

    </div>
    
    <div class="container align-self-end">
        <div class="row align-self-end mt-3">
            <div class="col justify-content-between">
                <button type="button" class="btn btn-primary">Export Certificate(.cer)</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary">Export Certificate With PassWord(.pfx)</button>
            </div>
        </div>
    </div>
</div>



@code {
    @code {
        string publicKey;
        string privateKey;
        string subjectName;
        private void GenerateKeys()
        {
            using (var rsa = new RSACryptoServiceProvider(2048)) // 2048 is the key size
            {
                rsa.PersistKeyInCsp = true; // Don't store the keys in a key container
                publicKey = Convert.ToBase64String(rsa.ExportCspBlob(false)); // Get the public key
                privateKey = Convert.ToBase64String(rsa.ExportCspBlob(true)); // Get the private key
            }
        }

        public void GenerateCertificate()
        {
            var randomGenerator = new CryptoApiRandomGenerator();
            var random = new SecureRandom(randomGenerator);
            var certificateGenerator = new X509V3CertificateGenerator();

            var serialNumber = BigIntegers.CreateRandomInRange(BigIntegers.Zero, BigIntegers.One, random);
            certificateGenerator.SetSerialNumber(serialNumber);

            var dirName = new X509Name("CN=" + subjectName);
            certificateGenerator.SetIssuerDN(dirName);
            certificateGenerator.SetSubjectDN(dirName);

            certificateGenerator.SetNotBefore(DateTime.UtcNow.Date);
            certificateGenerator.SetNotAfter(DateTime.UtcNow.Date.AddYears(1));

            var keyGenerationParameters = new KeyGenerationParameters(random, 2048);
            var keyPairGenerator = new RsaKeyPairGenerator();
            keyPairGenerator.Init(keyGenerationParameters);
            var subjectKeyPair = keyPairGenerator.GenerateKeyPair();

            certificateGenerator.SetPublicKey(subjectKeyPair.Public);

            var issuerKeyPair = subjectKeyPair;
            var signatureFactory = new Asn1SignatureFactory("SHA256WITHRSA", issuerKeyPair.Private, random);

            var certificate = certificateGenerator.Generate(signatureFactory);
            var certStream = new MemoryStream();
            var writer = new Org.BouncyCastle.OpenSsl.PemWriter(new StreamWriter(certStream));
            writer.WriteObject(certificate);
            writer.Writer.Flush();

            File.WriteAllBytes("C:/Users/admin/Downloads/certificate.cer", certStream.ToArray());

            using (var fs = new FileStream("C:/Users/admin/Downloads/certificate.cer", FileMode.Open))
            {
                var cert = new X509CertificateParser().ReadCertificate(fs);
                using (var writer1 = new StreamWriter("C:/Users/admin/Downloads/certificate.pem"))
                {
                    var pemWriter = new PemWriter(writer1);
                    pemWriter.WriteObject(cert);
                }
            }
        }
    }
    
}
